[Unit]
Description=BitToro Service Node Daemon
After=network.target

[Service]
Type=simple
GuessMainPID=no
ExecStart=/usr/local/src/bittoro/build/bin/bittorod --non-interactive --service-node --service-node-public-ip 123.123.123.123 --storage-server-port 18123
Restart=always
User=bittorodaemon

[Install]
WantedBy=multi-user.target
# replace 123.123.123.123 with real IP, port can be any number of choice
# add bittorodaemon user and write this file to /lib/systemd/system/snbittoro.service
# sudo systemctl enable snbittoro
# sudo systemctl daemon-reload
# sudo systemctl start snbittoro 
# sudo journalctl -f -u snbittoro 
